<h1>Portfolios#show</h1>
<h2>Overview of your portfolio:</h2>
<ul>
	<li>Your current value: <%= @portfolio.absolute_return %> </li>
	<li>The original cost of your portfolio: <%= @portfolio.total_cost %></li>
	<li>Your ROI (annualised): <%= @portfolio.yearly_return %> %</li>
</ul>